@media (max-width: 768px){
    .logo{
        display: flex;
        width: 150px;
        height: 100px;
    }
    h1{
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        background-color: $color-principal;
    }
    .lista-1{
    display: flex;
    justify-content: right;
    gap: 20px;
    list-style: none;
    }
    .mochilas{
        display: grid;
        grid-template-columns: repeat(4);
        grid-template-rows: repeat(4);
        grid-template-areas:
        "img1 img2 img3 img4"
        "img1 img2 img3 img4"
        "img1 img2 img3 img4"
        "img1 img2 img3 img4"
        ;
    }
    .aclaraciones{
        background-color: $color-aclaraciones;
        display: flex;
        justify-content: space-between;
        gap: 100px;
        font-size: small;
    }
    .footer.sales{
        display: grid;
        grid-template-columns: repeat(3);
        grid-template-rows: repeat(3);
        grid-template-areas:
        "mail suscribite contacto"
    }
}
