.sobre-jansport{
    display: flex;
    justify-content: center;
    .noticia-1{
        text-indent: 20px;
        word-spacing: 10px;
        line-height: 16px;
    }
    .noticia-2{
        text-indent: 20px;
        word-spacing: 10px;
        line-height: 16px;
    }
    .noticia-3{
        text-indent: 20px;
        word-spacing: 10px;
        line-height: 16px;
    }
}

