@media(max-width:320px){
    .logo{
        display: flex;
        width: 100px;
        height: 100px;
        justify-content: center;
    }
    h1{
        @include flex(column,wrap,center,flex-end,10px);
        background-color: $color-principal
    }
    .lista-1{
        flex-direction: column;
        align-items: center;
    }
    .mochilas{
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(4);
        grid-template-rows: repeat(4);
        grid-template-areas:
        "img1 img2 img3 img4"
        "img1 img2 img3 img4"
        "img1 img2 img3 img4"
        "img1 img2 img3 img4"
        ;
    }
    .aclaraciones{
        background-color: $color-aclaraciones;
        display: flex;
        justify-content: space-between;
        gap: 100px;
        font-size: x-small;
    }
    .footer.sales{
        display: grid;
        grid-template-columns: repeat(3);
        grid-template-rows: repeat(3);
        grid-template-areas:
        "mail suscribite contacto"
        "mail suscribite contacto"
        "mail suscribite contacto"
    }
}